# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/
.idea/

# Node / Next
node_modules/
.next/
out/
build/
dist/

# Env
.env
.env.local
.env*.local

# Vercel
.vercel/

# TS
next-env.d.ts
*.tsbuildinfo
